Set hpack max dynamic table size based on payload

Currently, a maximum dynamic table size of `4096` [is set](https://github.com/resurfaceio/logger-ebpf/blob/master/main.go#L562) when instantiating a new hpack decoder. In order to avoid header decoding errors, we should re-set this value based on RFC 7541 (sections 4.2, and 6.3) by taking a look at both `SETTINGS` and `HEADER` frames within all HTTP/2 payloads.